<div class='home-container d-flex justify-content-between rounded shadow p-5 border-dark  w-75 mx-auto'>
  <h1 class="text-center fw-bold home-h1">Welcome to Recipe App</h1>

  <footer>
    <h3 class="text-center">Created by <strong><a href='https://github.com/mertkantaroglu' target='_blank' class='name'>Mert</a> & <a href='https://github.com/jonas-45' target='_blank' class='name'> Jonas</a></strong><h3>
  </footer>
</div>