.add-recipe-btn {
  display: flex;
  width: 25%;
  justify-content: center;
  margin: 1rem auto;
}

.button-container {
  display: flex;
}

.recipe-form {
  margin: 0 0 10px 0;
}

.public-check {
  margin: 0 0 1rem 0;
}

.add-food-btn, .food-form, .login-form {
  margin: 0 0 1rem 0;
}